<fieldset>
	<legend>Form Input Ijin Usaha</legend>
<div class="span10">
<form class="form-horizontal" id="form_{$acak}" url="{$host}modul/cruddata/{$mod}" method="post" enctype="multipart/form-data">
<table class="table table-hover">
		<input type="hidden" name="id" value="{$data.id|default:''}">
		<input type="hidden" name="sts_crud" value="{$sts_crud|default:'add'}">
		
		{include file="template/input_form.html" type='text' label="Jenis Ijin *" id="jenis_ijin" name="jenis_ijin" style_type="width:80%" class="validasi" value="{$data.jenis_ijin|default:''}"}
		{include file="template/input_form.html" type='text' label="Nomor Ijin *" id="nomor_surat" name="nomor_surat" style_type="width:80%" class="validasi" value="{$data.nomor_surat|default:''}"}
		{include file="template/input_form.html" type='text' label="Berlaku Sampai *" id="berlaku_sampai" name="berlaku_sampai" style_type="width:30%" class="validasi tgl" value="{$data.berlaku_sampai|default:''}"}
		{include file="template/input_form.html" type='text' label="Instansi Pemberi *" id="instansi_pemberi" name="instansi_pemberi" style_type="width:80%" class="validasi" value="{$data.instansi_pemberi|default:''}"}
		<tr>
			<td>&nbsp;</td><td>Kualifikasi</td><td>:</td>
			<td style="font-weight:bold;">
				<select name="kualifikasi" id="kualifikasi" class="form-control validasi" style="width:80%">
					{foreach from = $kualifikasi item=i}
					<option value="{$i.id}">{$i.kualifikasi}</option>
					{/foreach}
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Klasifikasi</td><td>:</td>
			<td style="font-weight:bold;">
				<select name="klasifikasi" id="klasifikasi" class="form-control validasi" style="width:80%">
					<option value="">-- Pilih --</option>
					{foreach from = $klasifikasi item=i}
					<option value="{$i.id}" {if $sts_crud|default:'add' eq 'edit'}{if $data.klasifikasi|default:'' eq $i.id}selected{/if}{/if}>{$i.klasifikasi}</option>
					{/foreach}
				</select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>Kegiatan Usaha/KLBI </td><td>:</td>
			<td style="font-weight:bold;">
				<select name="m_klbi[]" class="form-control select2" style="width:80%;height33px;">
					<option value="">-- Pilih --</option>
					{foreach from=$m_klbi item=i}
					<option value="{$i.kode}" {if $sts_crud|default:'add' eq 'edit'}{if $data_klbi.0.kode_klbi|default:'' eq $i.kode}selected{/if}{/if}>({$i.kode}){$i.description}</option>
					{/foreach}
                </select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>&nbsp;</td><td>:</td>
			<td style="font-weight:bold;">
				<select name="m_klbi[]" class="form-control select2" style="width:80%;height33px;">
					<option value="">-- Pilih --</option>
					{foreach from=$m_klbi item=i}
					<option value="{$i.kode}" {if $sts_crud|default:'add' eq 'edit'}{if $data_klbi.1.kode_klbi|default:'' eq $i.kode}selected{/if}{/if}>({$i.kode}) {$i.description}</option>
					{/foreach}
                </select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>&nbsp;</td><td>:</td>
			<td style="font-weight:bold;">
				<select name="m_klbi[]" class="form-control select2" style="width:80%;height33px;">
					<option value="">-- Pilih --</option>
					{foreach from=$m_klbi item=i}
					<option value="{$i.kode}" {if $sts_crud|default:'add' eq 'edit'}{if $data_klbi.2.kode_klbi|default:'' eq $i.kode}selected{/if}{/if}>({$i.kode}) {$i.description}</option>
					{/foreach}
                </select>
			</td>
		</tr>
		<tr>
			<td>&nbsp;</td><td>&nbsp;</td><td>:</td>
			<td style="font-weight:bold;">
				<select name="m_klbi[]" class="form-control select2" style="width:80%;height33px;">
					<option value="">-- Pilih --</option>
					{foreach from=$m_klbi item=i}
					<option value="{$i.kode}" {if $sts_crud|default:'add' eq 'edit'}{if $data_klbi.3.kode_klbi|default:'' eq $i.kode}selected{/if}{/if} >({$i.kode}) {$i.description}</option>
					{/foreach}
                </select>
			</td>
		</tr>
		
		
		
		{include file="template/input_form.html" type='textarea' label="Klasifikasi Lain" id="klasifikasi_lainnya" name="klasifikasi_lainnya" style_type="width:80%" class="" value="{$data.klasifikasi_lainnya|default:''}"}
		{include file="template/input_form.html" type='file' label="Dokumen (pdf) **" id="dok" name="dok" style_type="width:80%" class=""}
		{if $sts_crud|default:'add' eq 'edit'}
			<tr>
				<td>&nbsp;</td><td>Last Upload File</td><td>:</td>
				<td style="font-weight:bold;">
					{if $data.dok eq ''}
					<a href="javascript:void(0);" onclick="lihat_file('{$siup.file_siup|default:''}','ijin_usaha_reg')">{$siup.file_siup|default:''}</a>
					{else}
					<a href="javascript:void(0);" onclick="lihat_file('{$data.dok|default:''}','ijin_usaha')">{$data.dok|default:''}</a>
					
					{/if}
				</td>
			</tr>
		{else}
		<tr>
			<td>&nbsp;</td><td>Last Upload File (Registrasi)</td><td>:</td>
			<td style="font-weight:bold;">
				<a href="javascript:void(0);" onclick="lihat_file('{$siup.file_siup|default:''}','ijin_usaha_reg')">{$siup.file_siup|default:''}</a>
			</td>
		</tr>
		{/if}
		
		<tr>
			<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
			<td style="font-weight:bold;">
				* Data Harus Disi<br>
				** Dokumen yang diupload adalah scan dokumen ASLI (Pdf), Bukan Fotokopi
			</td>
		</tr>
		
		<!--tr>
			<td>&nbsp;</td><td>Status</td><td>:</td>
			<td style="font-weight:bold;">
				<input type="checkbox" name="flag" value="Y" checked>&nbsp;&nbsp;Aktif
			</td>
		</tr-->
</table>
	
</form>
<div class="control-group">
	<center>
	<label class="control-label" for="form-field-1"></label>
	<div class="controls">
		{include file="template/button_save.html" id_na="simpan_{$mod}"  btn_goyz="true" text="Simpan / Update"}
	</div>
	</center>
</div>		
</div>
</fieldset>

<script>
	var idx_row={$jml_row|default:1};
	$(".validasi").validatebox({ required:true }); 
	$('.tgl').datepicker({
		 format: 'yyyy-mm-dd',
		 autoclose: true
	});
	$('.angka').numberbox();
	$('.select2').select2()
	
	
	$('#simpan_{$mod}_{$acak}').click(function(){
		submit_form('form_{$acak}',function(r){
			if(r==1){
				winLoadingClose();
				$.messager.alert('EPROC-APP',"Data Tersimpan",'info');
				loadUrl('{$host}modul/get_konten/ijin_usaha');
				$('.menu_{$mod}').removeClass('bg-red');
				$('.menu_{$mod}').addClass('bg-green');
				//$('#grid_nya_{$mod}').show();
				//$('#detil_nya_{$mod}').html('').hide();
				//$('#grid_{$mod}').datagrid('reload');
			}else{
				winLoadingClose();
				$.messager.alert('EPROC-APP',"Data Gagal Tersimpan",'error');
				console.log(r);
			}
		});

	});
</script>