<div id="tab_legalitas_{$acak}">
	<div id="" title="NPWP & KTP">
		<div style="padding:10px;">
			
		</div>
	</div>
	<div id="" title="Akta">xx</div>
	<div id="" title="SIUP">ee</div>
	<div id="" title="TDP">tt</div>
	<div id="" title="SBU">daqwd</div>
</div>
<script>
	$('#tab_legalitas_{$acak}').tabs({
		height:(getClientHeight()-150)
	});
</script>