<center>
<div class="box-info">
	<h1 style="font-size:30px;font-weight:bold;">WARNING !!!</h1>
	<h1 style="font-size:20px;font-weight:bold;">{$msg}</h1>
    <br />
    <img height="150px" align="middle" src="{$host}__assets/img/no_access.png">
</div>
<center>