<section class="sidebar">

	  <div class="user-panel">
        <div class="pull-left image">
          <img src="{$host}/__assets/img/avatar.png" class="img-circle"  alt="User Image">
        </div>
        <div class="pull-left info">
          <p>{$auth.nm_perusahaan}</p>
          
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">&nbsp;</li>
		<li>
          <a href="{$host}modul">
            <i class="fa fa-dashboard"></i> <span>Home</span>
            <span class="pull-right-container">
			
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/data_perusahaan');$('#judul_kecil').html('Data Perusahaan')">
            <i class="fa fa-database"></i> <span>Data Perusahaan</span>
            <span class="pull-right-container">
			<small class="label pull-right {if $flag.DATA_PERUSAHAAN > 0}bg-green{else}bg-red{/if} menu_data_perusahaan">&nbsp;</small>
            </span>
          </a>
        </li>
		<!--li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/legalitas');$('#judul_kecil').html('Legalitas Perusahaan')">
            <i class="fa fa-database"></i> <span>Legalitas Perusahaan</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.AKTA > 0}bg-green{else}bg-red{/if} menu_akta">&nbsp;</small>
            </span>
          </a>
        </li-->
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/akta');$('#judul_kecil').html('Akta Perusahaan')">
            <i class="fa fa-database"></i> <span>Akta</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.AKTA > 0}bg-green{else}bg-red{/if} menu_akta">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/tdp');$('#judul_kecil').html('TDP DATA')">
            <i class="fa fa-database"></i> <span>TDP</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.TDP > 0}bg-green{else}bg-red{/if} menu_tdp">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/domisili');$('#judul_kecil').html('Data Domisili')">
            <i class="fa fa-database"></i> <span>Domisili</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.DOMISILI > 0}bg-green{else}bg-red{/if} menu_domisili">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/ijin_usaha');$('#judul_kecil').html('Data Ijin Usaha')">
            <i class="fa fa-database"></i> <span>Ijin Usaha (SIUP)</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.IJIN_USAHA > 0}bg-green{else}bg-red{/if} menu_ijin_usaha">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <!--a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/sbu');$('#judul_kecil').html('Data SBU')"-->
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/sbu/main');$('#judul_kecil').html('Data SBU')">
            <i class="fa fa-database"></i> <span>SBU</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.SBU > 0}bg-green{else}bg-red{/if} menu_sbu">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/upload_dok');$('#judul_kecil').html('Download & Upload Dokumen')">
            <i class="fa fa-database"></i> <span>Upload Dokumen</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.UPLOAD_DOK > 0}bg-green{else}bg-red{/if} menu_upload_dok">&nbsp;</small>
            </span>
          </a>
        </li>

		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/pajak/main');$('#judul_kecil').html('Data Projek KJPP')">
            <i class="fa fa-database"></i> <span>Pajak</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.PAJAK > 0}bg-green{else}bg-red{/if} menu_pajak">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/pengurus/main');$('#judul_kecil').html('Data Pengurus Perusahaan')">
            <i class="fa fa-database"></i> <span>Pengurus</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.PENGURUS > 0}bg-green{else}bg-red{/if} menu_pengurus">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/ta/main');$('#judul_kecil').html('Data Tenaga Ahli Perusahaan')">
            <i class="fa fa-database"></i> <span>Tenaga Ahli</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.TA > 0}bg-green{else}bg-red{/if} menu_ta">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/peralatan/main');$('#judul_kecil').html('Data Peralatan Perusahaan')">
            <i class="fa fa-database"></i> <span>Peralatan</span>
            <span class="pull-right-container">
				<small class="label pull-right {if $flag.PERALATAN > 0}bg-green{else}bg-red{/if} menu_peralatan">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/pengalaman/main');$('#judul_kecil').html('Data Pengalaman Perusahaan')">
            <i class="fa fa-database"></i> <span>Pengalaman</span>
            <span class="pull-right-container">
			<small class="label pull-right {if $flag.PENGALAMAN > 0}bg-green{else}bg-red{/if} menu_pengalaman">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/pekerjaan_berjalan/main');$('#judul_kecil').html('Data Pekerjaan Berjalan Perusahaan')">
            <i class="fa fa-database"></i> <span>Pekerjaaan Berjalan</span>
            <span class="pull-right-container">
			<small class="label pull-right {if $flag.PEKERJAAN_BERJALAN > 0}bg-green{else}bg-red{/if} menu_pekerjaan_berjalan">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/keuangan/main');$('#judul_kecil').html('Data Aspek Keuangan Perusahaan')">
            <i class="fa fa-database"></i> <span>Aspek Keuangan</span>
            <span class="pull-right-container">
			<small class="label pull-right {if $flag.KEUANGAN > 0}bg-green{else}bg-red{/if} menu_keuangan">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/modul/surat/main');$('#judul_kecil').html('Data Surat Penting Perusahaan')">
            <i class="fa fa-database"></i> <span>Surat Penting lainnya</span>
			
            <span class="pull-right-container">
			<small class="label pull-right {if $flag.SURAT > 0}bg-green{else}bg-red{/if} menu_surat">&nbsp;</small>
            </span>
          </a>
        </li>
		<li>
          <a href="javascript:void(0);" onclick="loadUrl('{$host}modul/get_konten/konfirmasi');$('#judul_kecil').html(' Feedback Panitia')">
            <i class="fa fa-database"></i> <span>Feedback Panitia</span>
            <span class="pull-right-container">
            </span>
          </a>
        </li>
		<li>
          <a href="{$host}login/logout">
            <i class="fa fa-dashboard"></i> <span>Logout</span>
            <span class="pull-right-container">
			
            </span>
          </a>
        </li>
      </ul>
    </section>